/* =============
    Typography
============= */

@mixin headline() {
   font-family: 'Playfair Display', serif;
   font-weight: 400;
   padding: 10px 0 20px;
}

@mixin subheadline() {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 10px 0 20px;
 }

 @mixin btn-font() {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
 }

h1 {
    @include headline();
    font-size: 40px;
}

h2{
    @include headline();
    font-size: 20px;
    color: black;
}

h3{
    @include subheadline();
}