/* =============
    Buttons
============= */

@mixin btn($bg-color){
    background-color: $bg-color;
    padding: 15px 30px;
    transition: .3s;
    color: $white;
    text-decoration: none;
    margin: 100px;

    display: inline-block;
    
    @include btn-font();

    @if $bg-color == $gold{
        color: $white;

        &:hover{
            background-color: $darkblue;
            transition: .3s;
        }
    }
    
    @if $bg-color == $white{
        color: $darkblue;
        background-color: $white;

        &:hover{
            background-color: $gold;
            transition: .3s;
            color: $white;
        }
    }

    @include lg{
        font-size: 20px;
    }
}



a.btn{
    @include btn($darkblue);
}